// Generals
@import "./modules/_reset.scss";
@import "./modules/_general.scss";
@import "./modules/_var.scss";

// Mobile Design First
@import './modules/default';
@import './modules/nav';
@import './modules/footer';
@import './modules/caseStudy';
@import './modules/pageOpen';
@import './modules/pageTransition';

// Extra
@import './modules/cursor';
@import './modules/reveal';
@import './modules/buttons';

// Font
/* Geist - Google Font */
// @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/*
<Setting - ShortCut Keyboard>
1. Command K + Command S

<Comment Out Shortcut in VS Code>
1. Command + / = Individual Line Comment Out - Toggle Line Comment
2. Shift + Option + A = Multiple line Comment out - Toggle Block Comment

<Sass Watch>
sass --watch sass/main.scss:public/css/main.css --style compressed
*/