.theme-toggle {
    button {
        display: flex;
        gap: 0.5em;
        align-items: center;

        span, i {
            font-size: var(--font-size-sm);
            color: var(--color-secondary);
            transition: all 0.25s ease;

            &.is-active {
                color: var(--color-primary-bk);
            }
        }
    }
}

.btn-default,
.full-mode-btn,
.external-btn {
    display: inline-flex;
    flex-direction: row;
    column-gap: .4em;
    align-items: center;
    transition: all .3s ease-in;
    padding: .5em 0;
    width: fit-content;

    h4 {
        font-size: var(--font-size-primary-sm) !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

    i {
        font-size: var(--font-size-primary-sm) !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

    &:hover {
        transform: translateX(3px);
    }

    .deactivation {
        opacity: .6;
        pointer-events: none;
    }
}

.social-contact-btn-wrapper {
    li a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .6em .8em;
        background-color: var(--color-quaternary);
        border-radius: .3em;
        transition: all .3s ease-in;
        vertical-align: middle;

        h3,
        i {
            font-size: var(--font-size-primary-sm);
        }

        &:hover {
            background-color: var(--color-primary-bk);

            h3,
            i {
                color: var(--color-primary-wh);
            }
        }
    }
}

.hero-casestudy-view-mode {
    display: flex;
    flex-direction: row;
    gap: 1em;

    li button {
        font-size: var(--font-size-primary-sm);
        color: var(--color-secondary);
        transition: all .3s ease;

        &:hover {
            opacity: .6;
        }

        &.is-active {
            color: var(--color-primary-bk);
        }
    }
}

.full-mode-btn {
    width: auto;
    border-radius: .3em;
    padding: .6em .8em;
    background-color: var(--color-btn-wh-blur);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.gotop-btn {
    width: fit-content;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    pointer-events: none;

    position: fixed;
    right: 1.5em;
    bottom: 0;
    padding: 0 0 2.5em 0;

    button {
        overflow: hidden;
        align-items: center;
        vertical-align: middle;
        transform: translateY(0px);
        transition: transform .3s ease;

        i {
            font-size: var(--font-size-primary);
        }

        span {
            font-size: var(--font-size-primary-sm);
        }

        &:hover {
            transform: translateY(-3px);
        }
    }

    &.is-visible {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
}

.fc-bt-btn-back {
    padding: 0 0 .2.5em 0;
    border-bottom: 1px solid var(--color-secondary);
    transition: all .3s ease-in;

    h4 {
        color: var(--color-secondary);
    }

    &:hover {
        transform: translateX(3px);
    }
}

.fc-social-details {
    span {
        transition: all .3s ease-in;

        &:hover {
            transform: translateX(3px);
        }
    }
}