.btn-default,
.full-mode-btn {
    display: inline-flex;
    flex-direction: row;
    column-gap: .4em;
    align-items: center;
    transition: all .3s ease-in;
    padding: .5em 0;

    h4 {
        font-size: var(--font-size-primary-sm) !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

    i {
        font-size: var(--font-size-primary-sm) !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

    &:hover {
        transform: translateX(3px);
    }

    .deactivation {
        opacity: .6;
        pointer-events: none;
    }
}

.full-mode-btn {
    width: auto;
    border-radius: .3em;
    padding: .6em .8em;
    background-color: var(--color-btn-wh-blur);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.gotop-btn {
    width: 100%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    pointer-events: none;

    button {
        align-items: center;
        vertical-align: middle;
        
        transform: translateY(0px);
        transition: transform .3s ease;

        i {
            font-size: var(--font-size-primary);
        }

        span {
            font-size: var(--font-size-primary-sm);
        }

        &:hover {
            transform: translateY(-3px);
        }
    }

    &.is-visible {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
}

.fc-bt-btn-back {
    padding: 0 0 .2em 0;
    border-bottom: 1px solid var(--color-tertiary);
    transition: all .3s ease-in;

    h4 {
        color: var(--color-tertiary);
    }

    &:hover {
        transform: translateX(3px);
    }
}

.fc-social-details {
    span {
        transition: all .3s ease-in;

        &:hover {
            transform: translateX(3px);
        }
    }
}

.external-btn {
    display: inline-flex;
    width: auto;
    padding: 0 .4em;
    border-radius: .3em;

    h4 {
        font-size: var(--font-size-sm);
        color: var(--color-primary-bk);
    }
}

.project-badge {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: .4em .8em;
    background-color: var(--color-quaternary);
    border-radius: .3em;
    transition: all .3s ease-in;
    vertical-align: middle;
    gap: .4em;

    h4,
    i {
        font-size: var(--font-size-sm);
    }
}