.casestudy-section {
    overflow-y: scroll !important;
    width: 100%;
    height: 100%;
    align-items: center;

    .casestudy-container-wrapping-box {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        
        width: 100vw;
        height: 100vh;
        
        pointer-events: none;
        z-index: var(--z-page-open) !important;
    }
}

.casestudy-item-1,
.casestudy-item-2,
.casestudy-item-3,
.casestudy-item-4,
.casestudy-item-5,
.casestudy-item-6,
.casestudy-item-7,
.casestudy-item-8,
.casestudy-item-9,
.casestudy-item-10,
.casestudy-item-11,
.casestudy-item-12,
.casestudy-item-13,
.casestudy-item-14 {
    overflow-y: scroll !important;
    visibility: hidden;
    opacity: 0;
    transition: transform .5s ease-in-out, opacity .4s ease-in-out;
}

/* Case Study Each Page */
.main-casestudy.casestudy-item {
    background-color: var(--bg-wh) !important;
}

.archive-project.casestudy-item {
    backdrop-filter: blur(4px);
    background-color: var(--bg-bk-light) !important;
    // background-color: var(--bg-wh);
}

.main-casestudy.casestudy-item,
.archive-project.casestudy-item {
    width: 100vw;

    pointer-events: auto;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.4s;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    inset: 0;

    &.is-hidden {
        pointer-events: none;
    }

    .casestudy-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 5em;
        align-items: start;

        width: 100%;
        height: 100%;
    }

    .casestudy-container-archive {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        row-gap: 5em;
        align-items: start;
    }
}

.casestudy-item {
    width: 100vw;
    height: 100vh;

    .casestudy-container {
        .casestudy-container-top {
            .casestudy-container-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .page {
                    span { font-size: var(--font-size-primary-sm); }
                }

                .casestudy-title {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2em;

                    h3 {
                        font-weight: 200;
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                        column-gap: .5em;

                        h4 {
                            border: 1px solid #302d25;
                            border-radius: 2px;
                            padding: 7px 12px 6px 12px;
                        }
                    }
                }
            }

            .casestudy-container-right {
                display: flex;
                flex-direction: column;
                gap: 4em;

                .casestudy-details,
                .casestudy-details-3c {
                    .casestudy-eachDetail {
                        display: flex;
                        flex-direction: column;
                        gap: .5em;

                        h3 {
                            font-size: var(--font-size-xsm);
                            opacity: .6;
                            text-transform: uppercase;
                        }

                        h4, ul li {
                            font-size: var(--font-size-primary-sm);
                            line-height: 17px;
                        }

                        p {
                            font-size: var(--font-size-primary);
                            line-height: 20px;
                            opacity: .6;
                        }

                        .tagline {
                            font-size: var(--font-size-primary) !important;
                            padding-bottom: 1em;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: .2em;
                        }
                    }
                }
            }
        }

        .casestudy-container-middle {
            .casestudy-detail-box {
                display: flex;
                flex-direction: column;
                align-items: center;

                .casestudy-detail-imgbox {
                    width: 100%;
                    align-items: center;
                    margin: 0 auto;
                }

                .cs-process-box-wrapper {
                    h2, h3, h4, h6,
                    a, p, li, span {
                        color: var(--bg-dk);
                    }

                    .casestudy-each-step {
                        background-color: var(--color-glow-white);
                        border: 1px solid var(--bg-lightgrey02);
                        border-radius: 1em;
                        padding: 1.6em 1.6em !important;
                    }
                }

                .cs-each-step-section-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10em;
                }

                .cs-process-box-wrapper,
                .cs-each-step-section-wrapper {
                    width: 100%;

                    .cs-text-wrapping-box-process-top {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 3em;

                        h3 {
                            opacity: .6;
                            font-size: var(--font-size-primary-sm);
                            white-space: nowrap;
                        }

                        span {
                            opacity: .4;
                        }

                        h4, span {
                            font-size: var(--font-size-sd-md);
                            line-height: 30px;
                        }

                        h5 {
                            color: var(--color-accent-blue);
                        }
                    }
                    
                    .cs-each-step-section-box {
                        .cs-each-step-section-wrapper-top {
                            display: flex;
                            flex-direction: column;
                            gap: .5em;

                            h3 {
                                font-size: var(--font-size-primary-sm);
                                opacity: .6;
                            }
                        
                            h4 {
                                font-size: var(--font-size-sd-md);
                                line-height: 30px;

                                span {
                                    font-size: var(--font-size-sd-md);
                                    line-height: 30px;
                                    color: var(--color-accent-blue);
                                }
                            }
                        }

                        .cs-each-step-section-wrapper-textbox {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            p {
                                opacity: .6;
                                line-height: 20px;
                            }

                            .cs-each-step-section-wrapper-textbox-div {
                                padding: 1em 0 0 0;
                            }

                            ul {
                                display: flex;
                                flex-direction: column;
                                gap: 1em;
                                width: 100%;
                                border-top: 1px solid var(--bg-wh-dark);
                                padding-top: 1em;
                            }
                        }
                    }
                }

                .cs-process-box-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 1em;
                    width: 100%;

                    .cs-text-wrapping-box-process {
                        display: flex;
                        flex-direction: column;
                        row-gap: 3em;

                        .cs-text-wrapping-box-process-top {
                            h3 {
                                font-size: var(--font-size-xsm);
                                text-transform: uppercase;
                            }

                            p {
                                font-size: var(--font-size-sd-md);
                                line-height: 30px;
                                width: 80%;
                            }
                        }

                        .casestudy-step {
                            width: 100%;

                            .casestudy-step-box {
                                .casestudy-each-step {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 12em;
                                    padding: 1em .2em;

                                    .casestudy-each-step-title {
                                        display: flex;
                                        flex-direction: column;
                                        width: 100%;
                                        padding-bottom: 1em;

                                        .cs-each-step-title-wrapping-box {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: flex-start;
                                            row-gap: .5em;

                                            .cs-es-subtitle {
                                                opacity: .6;
                                                font-size: var(--font-size-primary-sm);
                                            }
                                        }
                                    }

                                    .casestudy-each-step-details {
                                        display: flex;
                                        flex-direction: column;
                                        row-gap: 1em;
                                        padding-top: 1em;

                                        .casestudy-each-step-details-box {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: flex-start;
                                            width: 100%;
                                            height: auto;
                                            padding-top: 1em;
                                            border-top: 1px solid var(--line-black);
                                            display: flex;
                                            flex-direction: column;

                                            .casestudy-each-step-details-box-title,
                                            .casestudy-each-step-details-box-title-noHover {
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-between;
                                                align-items: center;
                                                vertical-align: middle;
                                                
                                                h4 {
                                                    opacity: .6;
                                                    font-size: var(--font-size-primary-sm);
                                                    margin: 0;
                                                }
                                                
                                                i {
                                                    transform: rotateZ(0);
                                                    transition: all 0.4s ease;
                                                    color: var(--bg-dk);
                                                }
                                            }

                                            .casestudy-each-step-details-box-title {
                                                &:hover {
                                                    h4 {
                                                        opacity: 1;
                                                    }
                                            
                                                    i {
                                                        transform: rotateZ(90deg);
                                                    }
                                                }
                                            }

                                            .extra-info {
                                                width: 90%;
                                                max-height: 0;
                                                opacity: 0;
                                                overflow: hidden;
                                                padding: 0;
                                                transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
                                            }

                                            span, li {
                                                line-height: 20px;
                                                font-size: var(--font-size-primary-sm);
                                            }
                                            
                                            &.active {
                                                .casestudy-each-step-details-box-title,
                                                .casestudy-each-step-details-box-title--noHover {
                                                    i {
                                                        transform: rotateZ(90deg);
                                                    }
                                                }

                                                .extra-info {
                                                    opacity: 1;
                                                    max-height: 300px;
                                                    height: 100%;
                                                    padding-top: 1em;

                                                    ul li::before {
                                                        content: "• ";
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .cs-img-wrapping-box-container {
                    width: 100%;
                    padding: 10em 0em;

                    .cs-img-wrapping-box {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                    
                        h3 {
                            opacity: .6;
                            padding: 4px 0;
                            font-size: var(--font-size-xsm);
                        }
                    
                        h4 {
                            padding: 4px 0;
                            line-height: 20px;
                        }
                    
                        .cs-img-wb-details-each-box-container {
                            display: flex;
                            flex-direction: column;
                            row-gap: 1.6em;
                            
                            width: 100%;
                            grid-auto-flow: row;
                            align-items: start;
                            justify-content: space-between;

                            h3 {
                                opacity: .6;
                                padding: 4px 0;
                                font-size: var(--font-size-xsm);
                            }

                            h4 {
                                padding: 4px 0;
                                line-height: 20px;
                            }

                            .cs-img-wb-details-each-box-container {
                                display: flex;
                                flex-direction: column;
                                row-gap: 1.6em;
                            }

                            .cs-img-wb-details-each-box {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                row-gap: .5em;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        
                            .cs-img-supporting-text {
                                h3 {
                                    text-transform: uppercase;
                                }

                                .cs-img-supporting-text-each-main {
                                    display: flex;
                                    flex-direction: column;
                                    grid-column-start: 3;
                                    gap: 2em;

                                    h4, span {
                                        font-size: var(--font-size-sd-lg);
                                        line-height: 38px;
                                    }

                                    p {
                                        font-size: var(--font-size-primary);
                                        line-height: 20px;
                                        opacity: .6;
                                    }

                                    ul {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .sideProjects-img-wrapper-box {
                display: flex;
                flex-direction: column;
                gap: .5em;

                .sideProjects-img-wrapper {
                    display: flex;
                    flex-flow: row wrap;
                    gap: .5em;

                    .sideProjects-img-2 {
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        justify-content: space-between;
                        gap: .5em;
                    }

                    .sideProjects-img-row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: .5em;
                    }
                }
            }

            .casestudy-text-container {
                min-height: 100vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                padding: 8em 0;
                gap: 8em;

                h3 {
                    text-transform: uppercase;
                    font-size: var(--font-size-xsm);
                    opacity: .6;
                    line-height: 16px;
                }

                .casestudy-textbox {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;

                    .casestudy-projectBG {
                        display: flex;
                        flex-direction: column;
                        gap: 8em;

                        .casestudy-projectBG-left {
                            display: grid;
                            grid-template-columns: 2fr 1fr 1fr;

                            i {
                                font-size: var(--font-size-display-title-sm);
                            }
                        }

                        .casestudy-projectBG-right {
                            display: grid;
                            grid-template-columns: 1fr 1fr 2fr;
                            justify-content: space-between;
                            width: 100%;

                            .casestudy-projectBG-right-context {
                                grid-column-start: 3;
                                display: grid;
                                grid-template-columns: 1fr 3fr;
                                gap: 2em;

                                p {
                                    font-size: var(--font-size-primary);
                                    line-height: 20px;
                                    opacity: .6;
                                }
                            }
                        }
                    }

                    &-prob-solu {
                        display: grid;
                        grid-template-columns: 1fr 1fr 2fr;

                        .cs-textbox-prob-solu-container {
                            grid-column-start: 3;
                            display: flex;
                            flex-direction: column;
                            gap: 3em;

                            h2 {
                                font-size: var(--font-size-sd-sm);
                                text-transform: uppercase;
                            }

                            .casestudy-prob-solu-projectBG {
                                ul {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 2em;

                                    li {
                                        display: grid;
                                        grid-template-columns: 1fr 3fr;
                                        gap: 2em;

                                        p {
                                            font-size: var(--font-size-primary);
                                            line-height: 20px;
                                            opacity: .6;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .casestudy-container-archive {
        h2, h3, h4, h5, h6, p, a, span, ul, li, i {
            color: var(--bg-wh);
        }

        .archive-details {
            display: flex;
            flex-direction: column;
            row-gap: 3em;

            &-top {
                display: flex;
                flex-direction: column;
                row-gap: .5em;

                h3 {
                    font-size: var(--font-size-sd-lg);
                }
            
                h4 {
                    font-size: var(--font-size-primary);
                }
            
                h5 {
                    font-size: var(--font-size-primary-sm);
                    color: var(--color-text-primary-wh-dark);
                }
            }

            &-bottom {
                display: flex;
                flex-direction: column;
                row-gap: 2em;

                .archive-details-bottom-roles {
                    display: flex;
                    flex-direction: column;
                    row-gap: .6em;

                    h5 {
                        font-size: var(--font-size-xsm);
                        color: var(--color-text-primary-wh-dark);
                    }

                    ul li,
                    h4,
                    i {
                        font-size: var(--font-size-primary-sm);
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        row-gap: .4em;
                    }
                }
            }
        }

        .archive-details-imgs {
            width: 100%;

            ul {
                display: flex;
                flex-direction: row;
                gap: .5em;
                overflow-x: scroll;
                width: 100%;

                li img {
                    min-width: 350px;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 439px) {
    .casestudy-section {
        .casestudy-item {
            .casestudy-item-bg {
                .casestudy-container {
                    &-top {
                        .casestudy-container-right-3c {
                            display: flex;
                            flex-direction: column;
                            gap: 2em;
                            width: 100%;

                            .casestudy-details-3c {
                                display: grid;
                                grid-template-columns: repeat(1, 1fr);
                                gap: 2em;
                            }
                        }
                    }

                    &-middle {
                        .casestudy-textbox {
                            .casestudy-projectBG {
                                .casestudy-projectBG-left {
                                    display: flex;
                                    flex-direction: column;
                                }
                                
                                .casestudy-projectBG-right {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                }
                            }

                            &-prob-solu {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 440px) and (max-width: 743px) {
    .casestudy-section {
        .casestudy-container {
            &-top {
                .casestudy-container-right-3c {
                    display: flex;
                    flex-direction: column;
                    gap: 3em;
                    width: 100%;
                }

                .casestudy-details-3c {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    justify-content: space-between;
                }
            }
        }
    }
}

@media only screen and (max-width: 743px) {
    .casestudy-section {
        .main-casestudy .casestudy-item-bg {
            padding: 40% 0 0 0 !important;
        }

        .archive-project .casestudy-item-bg {
            padding: 13em 0 3em 0;

            .archive-details {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                padding-left: 2em;
                padding-right: 2em;
            }

            .archive-details-imgs {
                ul {
                    padding-left: 2em;
                    padding-right: 2em;
                }
            }
        }

        .casestudy-item {
            .casestudy-container-top,
            div.casestudy-container-middle .casestudy-detail-box > div:not(.cs-process-box-wrapper) {
                padding-left: 1.8em;
                padding-right: 1.8em;
            }

            .casestudy-item-bg {
                .casestudy-container {
                    &-top {
                        display: flex;
                        flex-direction: column;
                        row-gap: 5em;

                        .tagline {
                            font-size: var(--font-size-sd);
                            line-height: 24px;
                        }

                        .casestudy-container-left {
                            display: flex;
                            flex-direction: column;
                            row-gap: 2em;

                            .casestudy-title {
                                h3 {
                                    font-size: var(--font-size-display-title-md);
                                }
                            }
                        }

                        .casestudy-container-right {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            row-gap: 4em;

                            p {
                                line-height: 18px;
                            }
                        }
                    }

                    &-middle {
                        .casestudy-text-container {
                            .casestudy-projectBG-left {
                                .cs-proj-left-1, span, h4 {
                                    font-size: var(--font-size-display-title-sm);
                                }
                            }
                        }
                        
                        .cs-process-box-wrapper {
                            .cs-text-wrapping-box-process {
                                .casestudy-step {
                                    width: 100%;

                                    .casestudy-step-box {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 1em;

                                        .casestudy-each-step {
                                            width: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            row-gap: 5em;
                                        }

                                        .cs-each-step-title-wrapping-box {
                                            .cs-es-title {
                                                font-size: var(--font-size-sd-md);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .cs-process-box-wrapper {
                            padding-left: 1.8em;
                            padding-right: 1.8em;
                        }

                        .cs-process-box-wrapper,
                        .cs-each-step-section-wrapper {
                            padding-top: 8em;
                            padding-bottom: 8em;

                            .casestudy-projectBG {
                                ul {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 3em;

                                    li {
                                        display: flex;
                                        flex-direction: column;
                                        row-gap: .5em;
                            
                                        h4 {
                                            color: var(--color-accent-blue);
                                            font-size: var(--font-size-primary-sm);
                                        }
                            
                                        p {
                                            opacity: .6;
                                        }
                                    }
                                }
                            }

                            .cs-each-step-section-box {
                                display: flex;
                                flex-direction: column;
                                row-gap: 3em;
                            }
                        }

                        .cs-img-wrapping-box {
                            .cs-img-wb-details-each-box-container {
                                display: flex;
                                flex-direction: column;
                                row-gap: .5em;
                            
                                .cs-img-wb-square {
                                    display: grid;
                                    grid-template-columns: repeat(1, auto);
                                    width: 100%;
                                    height: auto;
                                    gap: .5em;
                                }
                            
                                .cs-img-supporting-text-each {
                                    padding: 5em 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .casestudy-each-list {
            padding: 7em 0em 3em 0;
            display: flex;
            flex-direction: column;
            gap: 2em;
            align-items: center;

            .next-project-img {
                filter: drop-shadow(0 12px 10px #11111115);

                img {
                    max-width: 350px;
                }
            }

            .cs-next-project-text {
                display: flex;
                flex-direction: column;
                gap: .5em;
                align-items: center;
                text-align: center;

                h3 {
                    font-size: var(--font-size-primary);
                }

                h4 {
                    font-size: var(--font-size-sm);
                    opacity: .6;
                }
            }
        }
    }
}

@media only screen and (min-width: 744px) and (max-width: 999px) {
    .casestudy-section {
        .casestudy-item {
            .casestudy-container-top,
            div.casestudy-container-middle .casestudy-detail-box > div:not(.cs-process-box-wrapper) {
                padding-left: 2em;
                padding-right: 2em;
            }
        }
        
        .main-casestudy .casestudy-item-bg {
            padding: 30% 0 0 0 !important;

            .casestudy-container {
                &-top {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5em;

                    .casestudy-container-left {
                        display: flex;
                        flex-direction: column;
                        row-gap: 2em;

                        .casestudy-title {
                            h3 {
                                font-size: var(--font-size-display-title-lg);
                            }
                        }
                    }

                    .casestudy-container-right {
                        width: 85%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        row-gap: 4em;

                        .casestudy-container-right-3c {
                            display: flex;
                            flex-direction: column;
                            gap: 2em;
                            width: 100%;
                        }

                        .casestudy-details-3c {
                            width: 100%;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            justify-content: space-between !important;
                            gap: .5em;
                        }
                    }
                }

                &-middle {
                    .cs-process-box-wrapper {
                        padding-left: 2em;
                        padding-right: 2em;
                    }

                    .cs-each-step-section-wrapper {
                        width: 85%;
                    }

                    .cs-process-box-wrapper,
                    .cs-each-step-section-wrapper {
                        padding-top: 8em;
                        padding-bottom: 8em;

                        .casestudy-projectBG {
                            ul {
                                display: flex;
                                flex-direction: column;
                                row-gap: 3em;

                                li {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: .5em;

                                    h4 {
                                        color: var(--color-accent-blue);
                                        font-size: var(--font-size-primary-sm);
                                    }

                                    p {
                                        opacity: .6;
                                    }
                                }
                            }
                        }

                        .cs-each-step-section-box {
                            display: flex;
                            flex-direction: column;
                            row-gap: 3em;
                        }
                    }

                    .cs-img-wrapping-box {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        .archive-project .casestudy-item-bg {
            padding: 12em 0 3em 0;

            .archive-details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                padding-left: 3.2em;
                padding-right: 3.2em;
            }

            .archive-details-imgs {
                ul {
                    padding-left: 3.2em;
                    padding-right: 3.2em;
                }
            }
        }
    }
}

@media only screen and (min-width: 744px) {
    .casestudy-section {
        .main-casestudy .casestudy-item-bg {
            .casestudy-container {
                &-middle {
                    .casestudy-text-container {
                        .casestudy-projectBG-left {
                            .cs-proj-left-1, span, h4 {
                                font-size: var(--font-size-display-title-sm);
                            }
                        }
                    }

                    .casestudy-step {
                        .cs-each-step-title-wrapping-box {
                            .cs-es-title {
                                font-size: var(--font-size-sd-md);
                            }
                        }
                    }
                    
                    .cs-img-wb-details-each-box-container {
                        .cs-img-wb-square {
                            display: grid;
                            grid-template-columns: repeat(2, auto);
                            width: 100%;
                            height: auto;
                            gap: .5em;
                        }
                    }

                    .casestudy-each-list {
                        padding: 10em 0em 3em 0;
                        display: flex;
                        flex-direction: column;
                        gap: 2em;
                        align-items: center;

                        .next-project-img {
                            filter: drop-shadow(0 12px 10px #11111115);

                            img {
                                max-width: 350px;
                            }
                        }

                        .cs-next-project-text {
                            display: flex;
                            flex-direction: column;
                            gap: .5em;
                            align-items: center;
                            text-align: center;

                            h3 {
                                font-size: var(--font-size-primary);
                            }

                            h4 {
                                font-size: var(--font-size-sm);
                                opacity: .6;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .casestudy-section {    
        .main-casestudy .casestudy-item-bg {
            display: flex;
            flex-direction: column;
            gap: 8em;

            .casestudy-container {
                &-top {
                    width: 100%;
                }

                &-middle {
                    .cs-process-box-wrapper {
                        display: flex;
                        flex-direction: column;
                        row-gap: 1em;
                        width: 100%;
                    }

                    .casestudy-detail-box {
                        .casestudy-detail-imgbox {
                            video, img {
                                object-fit: contain;
                                width: 100%;
                                height: 450px;
                            }
                        }

                        .casestudy-text-container {
                            padding: 8em 1.8em;

                            .casestudy-textbox {
                                .casestudy-projectBG {
                                    .casestudy-projectBG-right-context {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 1em;
                                    }
                                }

                                &-prob-solu {
                                    .casestudy-prob-solu-projectBG {
                                        ul {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 3em;
                                        }

                                        li {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 1em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .casestudy-section {
        .casestudy-container {
            &-middle {
                .cs-img-wrapping-box {
                    display: grid;
                    justify-content: space-between;
                    align-items: flex-start;
                    
                    .cs-img-supporting-text {
                        padding: 5em 0;
                
                        &-each {
                            display: grid;
                            grid-template-columns: 1fr 1fr 2.5fr 1.5fr;
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .casestudy-detail-box {
                    .casestudy-detail-imgbox {
                        video, img {
                            object-fit: contain;
                            width: 100%;
                            height: 650px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .casestudy-section {
        .main-casestudy .casestudy-item-bg {
            display: flex;
            flex-direction: column;
            row-gap: 10em;
            padding: 24% 0 0 0 !important;
        }

        .archive-project .casestudy-item-bg {
            padding-top: 18em;
            padding-bottom: 3em;
        }

        .casestudy-item {
            .casestudy-container-top,
            div.casestudy-container-middle .casestudy-detail-box > div:not(.cs-process-box-wrapper) {
                padding-left: 2.4em;
                padding-right: 2.4em;
            }

            .casestudy-step {
                width: 100%;

                .casestudy-step-box {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    justify-content: space-between;
                    width: 100%;
                    gap: .5em;
                }
            }

            .casestudy-container {
                &-top {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1.5fr 1fr 2fr;
                    justify-content: space-between;

                    .casestudy-container-left {
                        .casestudy-title {
                            h3, span { font-size: 90px; }
                        }
                    }

                    .casestudy-container-right {
                        grid-column-start: 3;
                        display: flex;
                        flex-direction: column;
                        row-gap: 4em;
                        align-items: flex-start;
                        width: 100%;

                        .casestudy-container-right-3c {
                            display: flex;
                            flex-direction: column;
                            gap: 2em;
                            width: 100%;
                        }

                        .casestudy-details-3c {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            justify-content: space-between;
                            gap: .5em;
                            width: 100%;
                        }

                        .casestudy-details,
                        .casestudy-details-3c {
                            .casestudy-eachDetail {
                                display: flex;
                                flex-direction: column;
                                gap: .5em;
                            }
                        }
                    }
                }

                &-middle {
                    .cs-process-box-wrapper,
                    .cs-each-step-section-wrapper {
                        padding: 10em .5em;
                    }

                    .cs-process-box-wrapper {
                        width: 100%;
                        padding-left: 2.4em;
                        padding-right: 2.4em;
                    }

                    .cs-each-step-section-wrapper {
                        .cs-each-step-section-box {
                            display: grid;
                            grid-template-columns: .5fr 3fr .5fr;
                            row-gap: 3em;
                    
                            .cs-each-step-section-wrapper-top,
                            .cs-each-step-section-wrapper-textbox {
                                grid-column-start: 2;
                            }
                        }
                    }

                    .cs-img-wrapping-box {
                        display: grid;
                        justify-content: space-between;
                        align-items: flex-start;
                    }
                }
            }

            .casestudy-container-archive {
                display: grid;
                grid-template-columns: 2fr 3fr;
                padding-left: 4.8em;
                padding-right: 7.2em;
                gap: 3em;

                .archive-details {
                    position: sticky;
                    left: 2.4em;
                    top: 18em;
                    display: flex;
                    flex-direction: column;
                    row-gap: 4em;

                    &-top {
                        h3 {
                            font-size: var(--font-size-display-body) !important;
                        }

                        h4 {
                            font-size: var(--font-size-sd) !important;
                        }
                    }

                    &-bottom {
                        display: flex;
                        flex-direction: column;
                        row-gap: 4em;
                    }
                }

                .archive-details-imgs {
                    ul {
                        display: flex;
                        flex-direction: column;
                        row-gap: .5em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    main {
        .casestudy-container {
            .cs-text-wrapping-box-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 2em;
                width: 100%;
            }

            .cs-process-box-wrapper {
                .cs-text-wrapping-box-process {
                    .casestudy-step-box {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: .5em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .casestudy-section {
        .casestudy-item-bg {
            .casestudy-container {
                &-middle {
                    .cs-each-step-section-wrapper {
                        .cs-each-step-section-box {
                            display: grid;
                            grid-template-columns: 1fr 2fr 1fr;
                            row-gap: 3em;
                    
                            .cs-each-step-section-wrapper-top,
                            .cs-each-step-section-wrapper-textbox {
                                grid-column-start: 2;
                            }
                        }
                    }
                }
            }
        }
    }
}