.nav-lightdark {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1000;

            label {
                display: flex;
                align-items: center;
                padding: 0 6px;
                cursor: pointer;
                transition: all 0.3s ease-in;

                i {
                transition: all 0.3s ease-in;
                }

                &:hover i {
                rotate: 90deg;
                }
            }

            .nav-dark {
                opacity: 0;
            }
            }
