@media (pointer: coarse), (prefers-reduced-motion: reduce) {
    #mouse_cursor {
        display: none;
    }
}

#mouse_cursor {
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-cursor-overlay);

    width: 18px;
    height: 18px;
    padding: 0;
    white-space: nowrap;
    pointer-events: none;

    // border-radius: 50%;
    border-radius: .5em;
    background-color: var(--color-cursor);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    font-family: 'PP Neue Montreal', 'General Sans', 'Helvetica';
    font-size: var(--font-size-xsm);
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    color: var(--color-primary-wh);
    text-align: center;
    
    overflow: hidden;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    transition:
        width 0.3s ease-in-out,
        height 0.3s ease-in-out,
        transform 0.15s ease-out,
        background-color 0.1s ease;
}

.hover-trigger {
    z-index: var(--z-cursor-hover);
}