.footer-container {
    width: 100vw;
    height: 100%;
    background-color: var(--color-primary-bk);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3, h4, p, span, i, a, ul, li {
        color: var(--color-primary-wh);
    }

    .footer-container-main {
        display: flex;
        flex-direction: column;
        gap: 10em;

        .fc-semi-label {
            color: var(--color-tertiary);
            font-size: var(--font-size-xsm);
            text-transform: uppercase;
        }

        .fc-info-container {
            display: flex;
            flex-direction: column;
            gap: .8em;

            .fc-social-details {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 1.5em;
                align-items: center;

                span, h4, a {
                    font-size: var(--font-size-primary-sm);
                }
            }
        }

        .fc-bt-connect {
            .fc-bt-connect-info {
                display: flex;
                flex-direction: column;
                gap: 1.25em;

                .fc-bt-connect-desc {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;

                    span {
                        color: var(--color-tertiary);
                        line-height: 125%;
                    }
                }

                .fc-bt-connect-btns {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 1.5em;
                    align-items: center;
                }
            }
        }

        .fc-bt-connect-info {
            h3 {
                font-size: var(--font-size-sd);
            }

            h4,
            p,
            span,
            li,
            a {
                font-size: var(--font-size-primary-sm);
            }

            p {
                text-indent: 5em;
            }
        }

        .footer-container-top {
            .fc-contact {
                display: flex;
                flex-direction: column;
                gap: 2em;
                width: 100%;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5em;

                    li {
                        display: flex;
                        flex-direction: column;
                        gap: .5em;
                    }
                }

                h3 {
                    font-size: var(--font-size-primary-sm);
                    color: var(--color-tertiary);
                }
            }
        }

        .footer-container-bottom {
            .fc-contact {
                width: 100%;
                
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 3em;
                }
            }
        }
    }

    .footer-container-misc {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
    
            li, a {
                font-size: var(--font-size-xsm);
                color: var(--color-secondary);
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    .footer-container {
        padding: 13em 1.5em 10em 1.5em;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;

        .footer-container-main,
        .footer-container-misc {
            grid-column: 1 / 13;

            .footer-container-wrapper {
                display: flex;
                flex-direction: column;
                gap: 3em;
    
                .fc-top-title,
                .fc-about {
                    h3 {
                        font-size: var(--font-size-display-body);
                    }
                }

                .fc-top-contact ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 2em;
                }
            }
    
            .fc-top-contact {
                li a {
                    font-size: var(--font-size-sd);
                }
            }

            .footer-container-bottom {
                display: flex;
                flex-direction: column;
                gap: 7em;

                .fc-about {
                    p {
                        font-size: var(--font-size-sd);
                    }
                }
                
                .fc-bt-connect {
                    .fc-bt-connect-desc h3 {
                        font-size: var(--font-size-sd);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 743px) and (min-width:600px) {
    .footer-container {
        padding: 13em 1.5em 7em 1.5em;

        .footer-container-wrapper {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            width: 100%;
    
            .fc-top-title,
            .fc-about {
                grid-column: 1 / 6;
    
                h3 {
                    font-size: var(--font-size-display-body);
                }
            }
    
            .fc-top-contact {
                li a {
                    font-size: var(--font-size-sd);
                }
            }
    
            .fc-bt-connect {
                .fc-bt-connect-desc h3 {
                    font-size: var(--font-size-primary);
                }
            }
    
            .fc-contact {
                grid-column: 7 / 13;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 743px) {
    .footer-container {
        .footer-container-misc {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
}

@media only screen and (min-width: 744px) {
    .footer-container {
        padding: 13em 1.5em 1.5em 1.5em;

        .footer-container-wrapper {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            width: 100%;

            .fc-top-title,
            .fc-about {
                grid-column: 1 / 6;

                h3 {
                    font-size: var(--font-size-display-title-sm);
                }
            }

            .fc-top-contact {
                li a {
                    font-size: var(--font-size-sd-md);
                }
            }

            .fc-contact {
                grid-column: 8 / 13;
                width: 100%;
            }
        }

        .footer-container-misc {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 999px) {
    .footer-container {
        .footer-container-main {
            padding-bottom: 7em;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .footer-container {
        width: 100vw;
        height: 100%;

        .footer-container-main {
            padding-bottom: 7em;
        }

        .footer-container-wrapper {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            width: 100%;
    
            .fc-top-title {
                grid-column: 1 / 6;
    
                h3 {
                    font-size: var(--font-size-display-title-md);
                }
            }
    
            .fc-about {
                grid-column: 1 / 4;
            }
    
            .fc-contact {
                grid-column: 9 / 13;
                width: 100%;
            }
        }
    }
}

/* =====================================
    FOOTER ACTIVE STATE
===================================== */

body.footer-active #main-nav-pc .nav-top-pc .main-nav-pc-top h3,
body.footer-active #main-nav-pc .nav-top-pc .main-nav-pc-top p,
body.footer-active #main-nav-pc .nav-top-pc .main-nav-pc-top span,
body.footer-active #main-nav-pc .nav-top-pc .main-nav-pc-top i,
body.footer-active #main-nav-pc .nav-top-pc .main-nav-pc-top a,
body.footer-active #main-nav-pc .nav-top-pc .main-nav-pc-top li,
body.footer-active .gotop-btn i,
body.footer-active .gotop-btn span {
    color: var(--color-primary-wh);
    transition: color 0.25s ease;
}

body.footer-active .gotop-btn {
    border-radius: .3em;
}

body.footer-active #main-nav-pc .nav-top-pc .main-nav-pc-top h4 {
    color: var(--color-tertiary);
    transition: color 0.25s ease;
}