.footer-container {
    width: 100vw;
    // height: 100vh;
    background-color: var(--bg-lightgrey01);
    display: flex;
    flex-direction: column;
    gap: 8em;

    .footer-container-wrapper {
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        .footer-credit-top {
            &-line {
                display: flex;
                flex-direction: column;
                gap: 1em;

                h3 {
                    font-size: var(--font-size-xsm);
                    opacity: .6;
                    text-transform: uppercase;
                }

                h4 {
                    font-size: var(--font-size-sd-lg);
                    white-space: nowrap;
                }
            }

            &-connect {
                .footer-credit-connectBox {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;

                    &-title {
                        font-size: var(--font-size-xsm);
                        text-transform: uppercase;
                        opacity: .6;
                    }
                }

                .footer-credit-socialmedia {
                    ul {
                        display: flex;
                        flex-direction: row;
                        gap: .5em;
                        flex-wrap: wrap;

                        li {
                            display: inline-block;
                            inset: 0;
                            background-color: var(--color-text-primary-wh-dark);
                            border: 1px solid var(--bg-lightgrey01);
                            border-radius: 3em;
                            filter: drop-shadow(0 15px 10px #11111115);
                            padding: .5em;
                            transform: translateX(0);

                            .ft-credit-connectBox-each {
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                gap: .8em;
                                align-items: center;

                                h4 {
                                    display: inline-block;
                                    font-size: var(--font-size-primary-sm);
                                }

                                i {
                                    font-size: var(--font-size-sd);
                                }
                            }

                            &:hover {
                                transform: translateX(3px);
                            }
                        }
                    }
                }

                .footer-credit-calls {
                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1em;

                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: .4em;
                            padding: .5em 0;

                            .ft-credit-call-each {
                                display: flex;
                                flex-direction: row;
                                gap: .4em;
                                transform: translateX(0);
                                transition: all .3s ease;

                                h4, i {
                                    font-size: var(--font-size-sd);
                                }

                                &:hover {
                                    transform: translateX(3px);
                                }
                            }

                            h5 {
                                font-size: var(--font-size-sm);
                                opacity: .6;
                            }
                        }
                    }
                }
            }
        }

        .footer-credit-bottom {
            h4 {
                line-height: 1;
                display: inline-block;
                text-align: center;
                white-space: nowrap;
                transition: font-size 0.3s ease-in-out;
                margin: 0;
                padding: 0;
                font-weight: 300;
            }
        }
    }
}

@media only screen and (max-width: 743px) {
    .footer-container {
        padding: 6em 1.8em 2.4em 1.8em;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footer-container-wrapper {
            width: 100%;

            .footer-credit-top {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: left;
                gap: 4em;
                width: 100%;
    
                &-connect {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 3em;
                }
            }
        }

        .footer-container-misc {
            display: flex;
            flex-direction: column;
            gap: 1em;

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;

                li {
                    font-size: var(--font-size-sm);
                    opacity: .6;
                    text-transform: uppercase;
                }

                a {
                    font-size: var(--font-size-sm);
                }
            }
        }
    }
}

@media only screen and (min-width: 744px) {
    .footer-container {
        padding: 3em 1.8em 2.4em 1.8em;

        .footer-container-misc {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;

                li {
                    font-size: var(--font-size-sm);
                    opacity: .6;
                    text-transform: uppercase;
                }

                a {
                    font-size: var(--font-size-sm);
                }
            }
        }
    }
}

@media only screen and (min-width: 744px) and (max-width: 999px) {
    .footer-container {
        .footer-container-wrapper {
            width: 100%;

            .footer-credit-top {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: left;
                gap: 3em;
                width: 100%;

                &-connect {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 3em;
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .footer-container {
        padding-bottom: 7em;
    }
}

@media only screen and (min-width: 1000px) {
    .footer-container {
        .footer-container-wrapper {
            .footer-credit-top {
                display: grid;
                grid-template-columns: 2.2fr auto 450px;
                justify-content: space-between;
                width: 100%;
                gap: 2em;

                &-connect {
                    grid-column-start: 3;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 3em;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .footer-container {
        .footer-container-wrapper {
            .footer-credit-top {
                display: grid;
                grid-template-columns: 2.2fr 4fr 550px !important;
                justify-content: space-between;
                width: 100%;
                gap: 2em;

                &-connect {
                    grid-column-start: 3;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 3em;
                }
            }
        }
    }
}