.footer-container {
    padding: 2.4em;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 5em;
    justify-content: space-between;

    .footer-container-wrapper {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: var(--bg-lightgrey01);
        border: var(--bg-lightgrey02);
        border-radius: 3em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding: 3em 2.4em 0 2.4em;
        filter: drop-shadow(0 20px 10px #11111115);

        .footer-credit-bottom {
            h4 {
                line-height: 1;
                display: inline-block;
                text-align: center;
                white-space: nowrap;
                transition: font-size 0.3s ease-in-out;
                margin: 0;
                padding: 0;
            }
        }
    }

    .footer-container-misc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;

            li {
                font-size: var(--font-size-sm);
                opacity: .6;
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (max-width: 743px) {
    .footer-container-wrapper {
        padding: 0 1.8em 7em 1.8em;
    }
}

@media only screen and (min-width: 744px) {
    .footer-container-wrapper {
        padding: 7em 2.4em 1em 2.4em;

        .footer-credit-top {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            justify-content: space-between;
            width: 100%;

            &-line {
                h3 {
                    font-size: var(--font-size-primary-sm);
                    opacity: .6;
                    text-transform: uppercase;
                }
            }

            &-connect {
                grid-column-start: 3;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;
                gap: 5em;

                .footer-credit-connectBox {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;

                    &-title {
                        font-size: var(--font-size-xsm);
                        text-transform: uppercase;
                        opacity: .6;
                    }
                }

                .footer-credit-socialmedia {
                    ul {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: .5em;

                        li {
                            display: inline-block;
                            inset: 0;
                            background-color: var(--color-text-primary-wh-dark);
                            border: 1px solid var(--bg-lightgrey01);
                            border-radius: 3em;
                            filter: drop-shadow(0 20px 10px #11111120);
                            padding: .5em .8em;
                            transform: translateX(0);

                            .ft-credit-connectBox-each {
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                gap: .8em;
                                align-items: center;

                                h4 {
                                    display: inline-block;
                                    font-size: var(--font-size-primary-sm);
                                }

                                i {
                                    font-size: var(--font-size-sd);
                                }
                            }

                            &:hover {
                                transform: translateX(3px);
                            }
                        }
                    }
                }

                .footer-credit-calls {
                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1em;

                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: .4em;
                            padding: .5em 0;

                            .ft-credit-call-each {
                                display: flex;
                                flex-direction: row;
                                gap: .4em;
                                transform: translateX(0);
                                transition: all .3s ease;

                                h4, i {
                                    font-size: var(--font-size-sd);
                                }

                                &:hover {
                                    transform: translateX(3px);
                                }
                            }

                            h5 {
                                font-size: var(--font-size-sm);
                                opacity: .6;
                            }
                        }
                    }
                }
            }
        }

        .footer-credit-bottom {
            h4 {
                font-weight: 400;
            }
        }
    }
}

@media only screen and (min-width: 744px) and (max-width: 999px) {
    .footer-container-wrapper {
    
    }
}

@media only screen and (min-width: 1000px) {
    .footer-container-wrapper {
        // padding: 3em 2.4em;
    }
}