/* DARK MODE */
.dark-theme {
    /* ===== selection ===== */
    ::selection {
        background: var(--color-primary-wh) !important;
        color: var(--color-primary-bk) !important;
    }

    /* ===== cursor ===== */
    #mouse_cursor {
        background-color: var(--color-cursor-ft);
        color: var(--color-primary-wh) !important;
    }

    /* ===== base layout ===== */
    body {
        background-color: var(--color-primary-bk) !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    li,
    ul,
    i,
    p,
    span,
    section,
    article,
    label,
    input,
    textarea,
    form,
    button {
        color: var(--color-primary-wh) !important;
    }

    .line {
        background-color: var(--color-line-white) !important;
    }

    /* ===== NAV ===== */
    #main-nav-pc {
        .nav-top-pc .main-nav-pc-top {
            h3, h5, span, i {
                color: var(--color-primary-wh) !important;
            }

            h4 {
                color: var(--color-tertiary) !important;
            }
        }

        .theme-toggle button span,
        .theme-toggle button i {
            color: var(--color-tertiary) !important;
        }

        .theme-toggle button span.is-active,
        .theme-toggle button i.is-active {
            color: var(--color-primary-wh) !important;
        }

        .nav-center ul {
            &::before {
                background-color: var(--color-cursor-ft) !important;
            }

            li {
                a span {
                    opacity: .6 !important;
                    color: var(--color-primary-wh) !important;
                }

                &.is-active,
                &:hover {
                    a span {
                        opacity: 1 !important;
                    }
                }
            }
        }
    }

    /* ===== HERO ===== */
    .hero-section {
        .logo {
            filter: invert(1) brightness(2) !important;
        }

        .hero-bottom-intro-details li a {
            background-color: var(--color-tertiary) !important;
            color: var(--color-primary-bk) !important;

            &:hover {
                background-color: var(--color-primary-wh) !important;

                h3, i {
                    color: var(--color-primary-bk) !important;
                }
            }
        }

        .hero-casestudy-wrapper {
            .hero-casestudy-previews-info h4 {
                color: var(--color-tertiary) !important;
            }

            .hero-casestudy-view-mode li button {
                color: var(--color-tertiary) !important;

                &.is-active {
                    color: var(--color-primary-wh) !important;
                }
            }

            .hero-project-list a {
                span, h4 {
                    color: var(--color-tertiary) !important;
                }

                &:hover {
                    span, h4 {
                        color: var(--color-primary-bk) !important;
                    }
                }
            }

            .hero-project-list-actions button {
                color: var(--color-tertiary) !important;

                &:hover {
                    color: var(--color-primary-wh) !important;
                }
            }
        }
    }

    /* ===== ABOUT ===== */
    .about-section {
        .about-container {
            .about-details-works {
                tbody {
                    tr {
                        border-top: 1px solid var(--color-line-white) !important;
                    }

                    .workplace {
                        color: var(--color-primary-wh) !important;
                    }
                }
            }

            .about-details-right {
                p,
                table th,
                table .role {
                    color: var(--color-tertiary) !important;
                }
            }

            .about-details-bio {
                .about-details-left .fc-semi-label {
                    color: var(--color-tertiary) !important;
                }
            }
        }
    }

    /* ===== CASESTUDY =====*/
    .casestudy-section {
        .cs-main-content {
            .cs-basic-info {
                .cs-basic-info-desc {
                    p { color: var(--color-tertiary) !important; }
                }

                .cs-basic-info-data {
                    td,
                    td li {
                        color: var(--color-primary-wh) !important;
                    }
                }
            }

            .cs-indepth-process {
                .cs-challenge h3,
                .cs-process h3,
                ul li {
                    color: var(--color-tertiary) !important;
                }
            }
        }

        .cs-more-project {
            border-top: solid 1px var(--color-line-white) !important;

            .cs-more-project-title h3 {
                color: var(--color-tertiary) !important;
            }

            .cs-more-project-list ul li {
                .cs-mp-info {
                    span { color: var(--color-tertiary) !important; }
                }
            }
        }
    }

    /* ===== FOOTER ===== */
    .footer-container {
        background-color: var(--color-darkmode-bg) !important;

        h3,
        h4,
        p,
        span,
        i,
        a,
        ul,
        li {
            color: var(--color-primary-wh) !important;
        }

        .fc-semi-label,
        .fc-bt-connect-desc span,
        .footer-container-top .fc-top-contact h3,
        .footer-container-misc ul li,
        .footer-container-misc ul a {
            color: var(--color-secondary) !important;
        }

        .fc-bt-btn-back h4 {
            color: var(--color-tertiary) !important;
        }
    }
}



// General Rule
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;

    // -webkit-user-drag: none;
    // user-select: none;
    // -moz-user-select: none;
    // -webkit-user-select: none;
    // -ms-user-select: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (pointer: coarse) {
    html,
    body {
        cursor: auto;
    }
}

html, body, * {
    cursor: none;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-width: 280px;
    overflow: scroll;

    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        transition: color .3s ease-in, background-color .3s ease-in;
        background-color: var(--color-primary-wh) !important;
    }

    body, main {
        height: auto;
        width: 100%;
        overflow-x: hidden;
    
        > section {
            scroll-snap-align: start;
            scroll-snap-stop: always;
            place-items: center;
        }
    }

    main {
        align-items: center;
        color: var(--color-primary-bk);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
i,
span,
section,
article,
label,
input,
input::placeholder,
textarea::placeholder,
form,
button {
    font-family: 'PP Neue Montreal', 'General Sans', 'Helvetica';
    font-size: var(--font-size-primary);
    font-weight: 400;
    color: var(--color-primary-bk);
    letter-spacing: -1%;
    word-wrap: break-word;
    text-wrap: pretty;
    text-decoration: none !important;
    list-style: none;
    list-style-type: none;
    transition: all .2s ease-in;
}

p,
table th,
table td,
table tr {
    font-family: 'PP Neue Montreal', 'General Sans', 'Helvetica';
    font-size: var(--font-size-primary);
    font-weight: 400;
    line-height: 125%;
    color: var(--color-primary-bk);
    letter-spacing: -1%;
    word-wrap: break-word;
    text-wrap: pretty;
    text-decoration: none !important;
    list-style: none;
    list-style-type: none;
    transition: all .2s ease-in;
}

label, a {
    pointer-events: auto !important;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

input {
    display: none;
    border: none;
    outline: none;
}

a,
button {
    user-select: none;
}

img,
video {
    border-radius: .3em;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    object-fit: cover !important;
    border: none !important;
    outline: none !important;
    vertical-align: text-top;

    -webkit-user-drag: none !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}

.logo {
    fill: currentColor;
}

/* Customized */

.line {
    background-color: var(--color-line-black) !important;
    height: 1px;
    width: 100%;
}

.numbers {
    font-size: var(--font-size-xsm);
    color: var(--color-secondary);
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 10em;
}

@media only screen and (max-width: 999px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    li,
    ul,
    span,
    section,
    article,
    label,
    input,
    input::placeholder,
    textarea::placeholder,
    form {
        font-size: var(--font-size-primary);
    }
}