// General Rule
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.hidden { display: none; }

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-width: 280px;
    overflow: scroll;

    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        transition: color .3s ease-in, background-color .3s ease-in;
        background-color: var(--bg-wh) !important;
    }

    body, main {
        height: auto;
        width: 100%;
        overflow-x: hidden;
    
        > section {
            scroll-snap-align: start;
            scroll-snap-stop: always;
            place-items: center;
        }
    }

    main {
        align-items: center;
        color: var(--color-text-primary-bk);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
i,
span,
section,
article,
label,
input,
input::placeholder,
textarea::placeholder,
form,
button {
    font-family: 'geist', 'acumin-pro', 'Inter', 'Helvetica';
    font-size: var(--font-size-primary);
    font-weight: 300;
    color: var(--color-text-primary-bk);
    word-wrap: break-word;
    text-wrap: pretty;
    text-decoration: none !important;
    list-style: none;
    list-style-type: none;
    transition: all .2s ease-in;
}

p {
    font-family: 'geist', 'acumin-pro', 'Inter', 'Helvetica';
    font-size: var(--font-size-primary-sm);
    line-height: 18px;
    font-weight: 300;
    color: var(--color-text-primary-bk);
    word-wrap: break-word;
    text-wrap: pretty;
    text-decoration: none !important;
    list-style: none;
    list-style-type: none;
    transition: all .2s ease-in;
}

label, a {
    pointer-events: auto !important;
    cursor: pointer !important;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer !important;
}

input {
    display: none;
    border: none;
    outline: none;
    cursor: pointer !important;
}

a,
button {
    cursor: pointer !important;
    user-select: none;
}

img,
video {
    border-radius: .7em;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    object-fit: cover !important;
    border: none !important;
    outline: none !important;
    vertical-align: text-top;
}

/* Customized */

.line {
    background-color: var(--bg-lightgrey02) !important;
    height: 1px;
    width: 100%;
}

.italic {
    font-style: italic;
}

.opacity60 {
    opacity: .6;
}

.numbers {
    font-size: var(--font-size-xsm);
    opacity: .6;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 10em;
    background-color: var(--bg-wh);
    filter: drop-shadow(0 0 2px var(--color-glow-white));
}

@media only screen and (max-width: 999px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    li,
    ul,
    span,
    section,
    article,
    label,
    input,
    input::placeholder,
    textarea::placeholder,
    form {
        font-size: var(--font-size-primary-sm);
    }
}