// General Rule
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;

    // -webkit-user-drag: none;
    // user-select: none;
    // -moz-user-select: none;
    // -webkit-user-select: none;
    // -ms-user-select: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.hidden { display: none; }

@media (pointer: coarse) {
    html,
    body {
        cursor: auto;
    }
}

html, body, * {
    cursor: none;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-width: 280px;
    overflow: scroll;

    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        transition: color .3s ease-in, background-color .3s ease-in;
        background-color: var(--color-primary-wh) !important;
    }

    body, main {
        height: auto;
        width: 100%;
        overflow-x: hidden;
    
        > section {
            scroll-snap-align: start;
            scroll-snap-stop: always;
            place-items: center;
        }
    }

    main {
        align-items: center;
        color: var(--color-primary-bk);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
i,
span,
section,
article,
label,
input,
input::placeholder,
textarea::placeholder,
form,
button {
    font-family: 'PP Neue Montreal', 'General Sans', 'Helvetica';
    font-size: var(--font-size-primary);
    font-weight: 400;
    color: var(--color-primary-bk);
    letter-spacing: -1%;
    word-wrap: break-word;
    text-wrap: pretty;
    text-decoration: none !important;
    list-style: none;
    list-style-type: none;
    transition: all .2s ease-in;
}

p {
    font-family: 'PP Neue Montreal', 'General Sans', 'Helvetica';
    font-size: var(--font-size-primary);
    font-weight: 400;
    line-height: 125%;
    color: var(--color-primary-bk);
    letter-spacing: -1%;
    word-wrap: break-word;
    text-wrap: pretty;
    text-decoration: none !important;
    list-style: none;
    list-style-type: none;
    transition: all .2s ease-in;
}

label, a {
    pointer-events: auto !important;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

input {
    display: none;
    border: none;
    outline: none;
}

a,
button {
    user-select: none;
}

img,
video {
    border-radius: .3em;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    object-fit: cover !important;
    border: none !important;
    outline: none !important;
    vertical-align: text-top;

    -webkit-user-drag: none !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}

/* Customized */

.line {
    background-color: var(--color-line-black) !important;
    height: 1px;
    width: 100%;
}

.italic {
    font-style: italic;
}

.numbers {
    font-size: var(--font-size-xsm);
    color: var(--color-secondary);
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 10em;
}

@media only screen and (max-width: 999px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    li,
    ul,
    span,
    section,
    article,
    label,
    input,
    input::placeholder,
    textarea::placeholder,
    form {
        font-size: var(--font-size-primary);
    }
}