// General Rule
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;

    // user-drag: none;
    // -webkit-user-drag: none;
    // user-select: none;
    // -moz-user-select: none;
    // -webkit-user-select: none;
    // -ms-user-select: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.hidden { display: none; }

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-width: 280px;
    overflow-y: scroll;

    body {
        width: 100vw;
        transition: color .3s ease-in, background-color .3s ease-in;
        background-color: #fcfcfc !important;
    }

    body, main {
        height: auto;
        width: 100%;
        overflow-x: hidden;
    
        > section {
            scroll-snap-align: start;
            scroll-snap-stop: always;
            place-items: center;
        }
    }

    main {
        align-items: center;
        color: #111111;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
i,
span,
section,
article,
label,
input,
input::placeholder,
textarea::placeholder,
form,
button {
    font-family: 'geist', 'acumin-pro', 'Inter', 'Helvetica';
    font-size: 16px;
    font-weight: 300;
    color: #111111;
    word-wrap: break-word;
    text-wrap: pretty;
    text-decoration: none !important;
    list-style: none;
    list-style-type: none;
    transition: all .2s ease-in;
}

p {
    font-family: 'geist', 'acumin-pro', 'Inter', 'Helvetica';
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: #111111;
    word-wrap: break-word;
    text-wrap: pretty;
    text-decoration: none !important;
    list-style: none;
    list-style-type: none;
    transition: all .2s ease-in;
}

label, a {
    pointer-events: auto !important;
    cursor: pointer !important;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer !important;
}

input {
    display: none;
    border: none;
    outline: none;
    cursor: pointer !important;
}

a,
button {
    cursor: pointer !important;
    user-select: none;
}

img,
video {
    border-radius: 1em;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    object-fit: cover !important;
    border: none !important;
    outline: none !important;
    vertical-align: text-top;
}

/* Customized */

.line {
    background-color: #e9e9e9 !important;
    height: 1px;
    width: 100%;
}

.line-fullopacity {
    background-color: #111111 !important;
    height: 1px;
    width: 100%;
}

.line-25opacity {
    background-color: #11111125 !important;
    height: 1px;
    width: 100%;
}

.font12px {
    font-size: 12px;
}

.italic {
    font-style: italic;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.opacity60 {
    opacity: .6;
}

.numbers {
    font-size: 12px;
    opacity: .6;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 10em;
    // background-color: #1478e4;
    background-color: #fcfcfc;
    filter: drop-shadow(0 0 2px #fcfcfc70);
}

@media only screen and (max-width: 999px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    li,
    ul,
    span,
    section,
    article,
    label,
    input,
    input::placeholder,
    textarea::placeholder,
    form {
        font-size: 14px;
    }
}