#main-nav-pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: var(--z-nav) !important;

    .nav-top-pc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--color-text-primary-wh-dark);
        backdrop-filter: blur(12px);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 1em 2.4em;
        z-index: 2001 !important;
        transition: background-color 0.3s ease;

        .main-nav-pc-top {
            display: flex;
            flex-direction: row;
            gap: .8em;
            align-items: center;

            h3,
            h4,
            h5,
            span {
                color: var(--bg-dk);
                text-transform: uppercase;
            }

            &.main-nav-left {
                h4{
                    font-size: var(--font-size-xsm);
                    opacity: .6;
                }
            }

            &.main-nav-call {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                h5, span {
                    font-size: var(--font-size-xsm);
                }

                label {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap: .5em;

                    .dot {
                        background-color: var(--color-accent-lightgreen) !important;
                    }
                }
            }
        }
    }

    .nav-center-pc {
        position: fixed;
        bottom: 0;
        padding: 0 0 2em 0;
        background-color: transparent;
        z-index: var(--z-nav) !important;

        .nav-center {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: .5em;
            align-items: center;
            z-index: var(--z-nav-menu) !important;

            .nav-block-text-left-main,
            .nav-block-text-bottom-main {
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: relative;

                border-radius: 10em;
                padding: 4px 10px;
                overflow: hidden;
                align-items: center;
                box-shadow: 0px 8px 10px var(--color-text-primary-bk-light);
                transition: background-color .2s, color .2s;

                &::before {
                    content: "";
                    position: absolute;
                    z-index: var(--z-negative);
                    inset: 0;
                    backdrop-filter: blur(8px);
                    background-color: var(--color-text-primary-wh-dark);
                    border: 1px solid var(--bg-lightgrey01);
                    border-radius: 3em;
                    filter: drop-shadow(0 12px 10px #11111115);
                }

                .nav-menu-each {
                    label, a {
                        .nav-menu {
                        font-size: var(--font-size-primary-sm);
                        opacity: .6;
                        line-height: 1;
                        }
                    }

                    &:hover span {
                        opacity: 1;
                    }
                }

                li {
                    padding: 8px 13px;

                a,
                span {
                    color: var(--bg-dk);
                }
                }

                .nav-menu-each.selected span {
                    opacity: 1;
                }
            }

            .nav-search {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 10px;
                align-items: center;

                border-radius: 10em;
                padding: 9px 16px;
                overflow: hidden;

                box-shadow: 0px 8px 10px var(--color-text-primary-bk-light);
                transition: background-color .25s ease;

                /* glass background */
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    z-index: -1;

                    backdrop-filter: blur(8px);
                    background-color: var(--color-text-primary-wh-dark);
                    border: 1px solid var(--bg-lightgrey01);
                    border-radius: 10em;

                    filter: drop-shadow(0 12px 10px #11111115);
                }

                .search-icon {
                    font-size: var(--font-size-primary-sm);
                    color: var(--bg-dk);
                    opacity: .6;
                    pointer-events: none;
                    transition:
                        opacity .25s ease,
                        transform .25s ease;
                }

                .search-key {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: .4em;

                    span {
                        background-color: var(--color-text-primary-wh-dark);
                        border: 1px solid var(--bg-lightgrey01);
                        filter: blur(10px);
                        border-radius: 4px;
                        filter: drop-shadow(0 6px 5px #11111115);
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        align-items: center;
                        inset: 0;
                        padding: .2em;
                    }

                    span, p, i {
                        font-size: var(--font-size-sm);
                    }
                }

                /* INPUT */
                input {
                    display: block;
                    position: relative;
                    z-index: 1;
                    width: 55px;
                    background: none;
                    border: none;
                    outline: none;

                    font-size: var(--font-size-primary-sm) !important;
                    color: var(--bg-dk);
                    line-height: 1;

                    &::placeholder {
                        color: var(--bg-dk);
                        opacity: .6;
                        font-size: var(--font-size-primary-sm) !important;
                    }

                    &:focus,
                    &:hover {
                        width: 200px;
                        border-color: var(--color-text-primary-bk);

                        &::placeholder {
                            opacity: .2;
                        }
                    }
                }

                /* When typing or focused */
                input:focus,
                input:not(:placeholder-shown) {
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 743px) {
    #main-nav-pc {
        .nav-top-pc {
            padding: .8em 1.8em;

            .main-nav-pc-top {
                display: flex;
                flex-direction: row;
                gap: .8em;
                align-items: flex-start;

                &.main-nav-logo {
                    label h3 {
                        font-size: var(--font-size-xsm);
                    }

                    h4 {
                        opacity: 0.6;
                        font-size: var(--font-size-xsm);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 744px) {
    #main-nav-pc {
        .nav-top-pc {
            padding: 1em 2.4em;

            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 3fr 1fr;

            .main-nav-pc-top {
                display: flex;
                flex-direction: row;
                gap: .8em;
                align-items: center;

                &.main-nav-logo {
                    grid-column-start: 3;

                    label h3 {
                        font-size: var(--font-size-xsm);
                    }

                    h4 {
                        opacity: 0.6;
                        font-size: var(--font-size-xsm);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    #main-nav-pc {
        .nav-top-pc {
            .main-nav-pc-top {
                &.main-nav-call h5 span {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {

}