.nav-lock {
    overflow: hidden;
    touch-action: none;
}

#main-nav-pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: var(--z-nav) !important;

    .nav-top-pc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--color-text-primary-wh-dark);
        backdrop-filter: blur(12px);
        position: fixed;
        top: 8px;
        left: 8px;
        right: 8px;
        padding: .8em 2.4em;
        z-index: 2001 !important;
        transition: background-color 0.3s ease;
        border-radius: 3em;

        .main-nav-pc-top {
            display: flex;
            flex-direction: row;
            gap: .8em;
            align-items: center;

            h3,
            h4,
            h5,
            span {
                color: var(--bg-dk);
                text-transform: uppercase;
            }

            &.main-nav-left {
                h4{
                    font-size: var(--font-size-xsm);
                    opacity: .6;
                }
            }

            &.main-nav-call {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                h5, span {
                    font-size: var(--font-size-xsm);
                }

                label {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap: .5em;

                    .dot {
                        background-color: var(--color-accent-lightgreen) !important;
                    }
                }
            }
        }
    }

    .nav-center-pc {
        position: fixed;
        bottom: 0;
        padding: 0 0 2em 0;
        background-color: transparent;
        z-index: var(--z-nav) !important;

        .nav-center {
            width: 100%;
            z-index: var(--z-nav-menu) !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: .5em;
            transition: all .3s ease;

            ul {
                display: flex;
                justify-content: center;
                position: relative;
                gap: .2em;
                border-radius: 3em;
                padding: 4px;
                overflow: hidden;
                align-items: center;
                box-shadow: 0px 8px 10px var(--color-text-primary-bk-light);

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    z-index: var(--z-negative);
                    backdrop-filter: blur(8px);
                    background-color: var(--color-text-primary-wh-dark);
                    border: 1px solid var(--bg-lightgrey01);
                    border-radius: 3em;
                }

                .nav-menu-each {
                    position: relative;
                    padding: 8px;
                    border-radius: 3em;
                    transition:
                        background-color 0.3s ease,
                        padding 0.3s ease,
                        border-radius 0.3s ease;
                
                    a, button {
                        display: flex;
                        flex-direction: row;
                        gap: .3em;
                        justify-content: center;
                        align-items: center;
                        
                        background: none;
                        border: none;
                        padding: 0;
                        font: inherit;
                        cursor: pointer;

                        i {
                            font-size: var(--font-size-primary);
                            opacity: 0.6;
                            padding: 0 0 1.5px 0;
                        }

                        .nav-menu {
                            opacity: 0;
                            visibility: hidden;
                            transform: translateX(-4px);
                            max-width: 0px;
                            overflow: hidden;
                            white-space: nowrap;
                            transition:
                                opacity 0.25s ease,
                                transform 0.25s ease,
                                max-width 0.35s ease;
                            font-size: var(--font-size-primary-sm);
                            color: var(--bg-wh);
                        }
                    }
                    
                    &:hover,
                    &.is-page-active,
                    &.is-active.is-contact .nav-link {
                        background-color: var(--color-text-primary-bk);
                        padding: 8px 16px;
                        box-shadow: 0px 2px 4px var(--color-text-primary-bk-border-dark);

                        .nav-menu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateX(0);
                            max-width: 120px;
                        }

                        i {
                            opacity: 1;
                            color: var(--bg-wh);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 743px) {
    #main-nav-pc {
        .nav-top-pc {
            padding: .8em 1.8em;

            .main-nav-pc-top {
                display: flex;
                flex-direction: row;
                gap: .8em;

                &.main-nav-left {
                    display: none;
                }

                &.main-nav-logo {
                    h3 {
                        font-size: var(--font-size-xsm);
                    }

                    h4 {
                        opacity: 0.6;
                        font-size: var(--font-size-xsm);
                    }
                }
            }
        }

        .nav-search {
            display: none;
        }
    }
}

@media only screen and (min-width: 744px) {
    #main-nav-pc {
        .nav-top-pc {
            padding: .8em 2.4em;
            display: grid;
            grid-template-columns: 1fr 1fr 3fr 1fr;

            .main-nav-pc-top {
                display: flex;
                flex-direction: row;
                gap: .8em;
                align-items: center;

                &.main-nav-logo {
                    grid-column-start: 3;

                    h3 {
                        font-size: var(--font-size-xsm);
                    }

                    h4 {
                        opacity: 0.6;
                        font-size: var(--font-size-xsm);
                    }
                }
            }
        }

        .nav-search {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
            align-items: center;
    
            border-radius: 10em;
            padding: 9px 16px;
            overflow: hidden;
    
            box-shadow: 0px 8px 10px var(--color-text-primary-bk-light);
            transition: background-color .25s ease;
    
            /* glass background */
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
    
                backdrop-filter: blur(8px);
                background-color: var(--color-text-primary-wh-dark);
                border: 1px solid var(--bg-lightgrey01);
                border-radius: 10em;
    
                filter: drop-shadow(0 12px 10px #11111115);
            }
    
            .search-icon {
                font-size: var(--font-size-primary-sm);
                color: var(--bg-dk);
                opacity: .6;
                pointer-events: none;
                transition:
                    opacity .25s ease,
                    transform .25s ease;
            }
    
            /* INPUT */
            input {
                display: block;
                position: relative;
                z-index: 1;
                width: 55px;
                background: none;
                border: none;
                outline: none;
    
                font-size: var(--font-size-primary-sm) !important;
                color: var(--bg-dk);
                line-height: 1;
    
                &::placeholder {
                    color: var(--bg-dk);
                    opacity: .6;
                    font-size: var(--font-size-primary-sm) !important;
                }
    
                &:focus,
                &:hover {
                    width: 200px;
                    border-color: var(--color-text-primary-bk);
    
                    &::placeholder {
                        opacity: .2;
                    }
                }
            }
    
            /* When typing or focused */
            input:focus,
            input:not(:placeholder-shown) {
                opacity: 1;
            }

            .search-key {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: .4em;

                span {
                    background-color: var(--color-text-primary-wh-dark);
                    border: 1px solid var(--bg-lightgrey01);
                    filter: blur(10px);
                    border-radius: 4px;
                    filter: drop-shadow(0 6px 5px #11111115);
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    align-items: center;
                    inset: 0;
                    padding: .2em;
                }

                span,
                p,
                i {
                    font-size: var(--font-size-sm);
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    #main-nav-pc {
        .nav-top-pc {
            .main-nav-pc-top {
                &.main-nav-call h5 span {
                    display: none !important;
                }
            }
        }
    }
}