body.footer-active {
    #main-nav-pc {
        .nav-top-pc {
            .main-nav-pc-top {
                h3,h4,h5,span,i {
                    color: var(--color-primary-wh);
                    transition: color 0.25s ease;
                }
    
                h4 {
                    color: var(--color-tertiary);
                }
            }
        }

        .nav-center {
            ul {
                &::before {
                    background-color: var(--color-cursor-ft);
                    transition:
                        background-color 0.5s ease,
                        backdrop-filter 0.5s ease;
                }
        
                li a span {
                    color: var(--color-primary-wh);

                    transition:
                        color 0.5s ease,
                        opacity 0.5s ease;
                }
            }
        }
    }
}

#main-nav-pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: var(--z-nav) !important;

    .nav-top-pc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 1em 1.2em;
        z-index: 2001 !important;

        .main-nav-pc-top {
            display: flex;
            flex-direction: row;
            gap: .8em;
            align-items: center;

            h3,
            h4,
            h5,
            span {
                color: var(--color-primary-bk);
                font-size: var(--font-size-sm);
                font-family: 'Neue Montreal Regular', 'General Sans', 'Helvetica';
            }

            &.main-nav-left {
                h4{
                    color: var(--color-secondary);
                }
            }

            &.main-nav-call {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                a {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap: .5em;

                    .dot {
                        background-color: var(--color-accent-lightgreen) !important;
                    }
                }
            }
        }
    }

    .nav-center-pc {
        position: fixed;
        bottom: 0;
        padding: 0 0 2.5em 0;
        background-color: transparent;
        z-index: var(--z-nav) !important;

        .nav-center {
            width: 100%;
            z-index: var(--z-nav-menu) !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: .5em;
            transition: all .3s ease;

            ul {
                display: flex;
                justify-content: center;
                position: relative;
                gap: 1.5em;
                border-radius: .3em;
                padding: .6em 1.2em .7em 1.2em;
                overflow: hidden;
                align-items: center;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    z-index: var(--z-negative);
                    backdrop-filter: blur(8px);
                    background-color: var(--color-cursor);
                    transition:
                            background-color 0.5s ease,
                            backdrop-filter 0.5s ease,
                }

                li {
                    transition: all 0.3s ease;
                
                    a {
                        span {
                            color: var(--color-primary-wh);
                            opacity: .6;
                            font-size: var(--font-size-primary-sm);
                            font-family: 'Neue Montreal Regular', 'General Sans', 'Helvetica';

                            transition:
                                color 0.5s ease,
                                opacity 0.5s ease;
                        }
                    }

                    &.is-active,
                    &:hover {
                        span {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 743px) {
    #main-nav-pc {
        .nav-top-pc {
            .main-nav-pc-top {
                display: flex;
                flex-direction: row;
                gap: .8em;

                &.main-nav-left {
                    display: none;
                }

                &.main-nav-logo {
                    h3, h4 {
                        font-size: var(--font-size-sm);
                    }

                    h4 {
                        color: var(--color-secondary);
                    }
                }
            }
        }

        .nav-search {
            display: none;
        }
    }
}

@media only screen and (min-width: 744px) {
    #main-nav-pc {
        .nav-top-pc {
            display: grid;
            grid-template-columns: 1fr 1fr 3fr 1fr;

            .main-nav-pc-top {
                display: flex;
                flex-direction: row;
                gap: .6em;
                align-items: center;

                &.main-nav-logo {
                    grid-column-start: 3;

                    h4 {
                        color: var(--color-secondary);
                    }
                }
            }
        }

        .nav-search {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
            align-items: center;
    
            border-radius: .3em;
            padding: 6px 12px;
            overflow: hidden;
            transition: background-color .25s ease;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
    
                backdrop-filter: blur(8px);
                background-color: var(--search-text-icon);
                border-radius: .3em;
    
                filter: var(--button-dropshadow);
            }
    
            .search-icon {
                font-size: var(--font-size-primary-sm);
                color: var(--search-text-icon);
                opacity: .8;
                pointer-events: none;
                padding: 0 0 0 4px;
                transition:
                    opacity .25s ease,
                    transform .25s ease;
            }
    
            /* INPUT */
            input {
                display: block;
                position: relative;
                z-index: 1;
                width: 55px;
                background: none;
                border: none;
                outline: none;
    
                font-size: var(--font-size-primary-sm) !important;
                color: var(--search-text-icon);
                line-height: 1;
    
                &::placeholder {
                    color: var(--color-primary-bk);
                    color: var(--color-secondary);
                    font-size: var(--font-size-primary-sm) !important;
                }
    
                &:focus,
                &:hover {
                    width: 200px;
                    border-color: var(--color-primary-bk);
    
                    &::placeholder {
                        opacity: .2;
                    }
                }
            }
    
            /* When typing or focused */
            input:focus,
            input:not(:placeholder-shown) {
                opacity: 1;
            }

            .search-key {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: .4em;

                span {
                    background-color: var(--search-text-icon);
                    border: 1px solid var(--color-primary-wh);
                    filter: blur(8px);
                    border-radius: .3em;
                    filter: var(--button-dropshadow);
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    align-items: center;
                    inset: 0;
                    padding: .2em;
                }

                span,
                p,
                i {
                    font-size: var(--font-size-sm);
                }
            }
        }
    }
}