/* Case Study Page-Open Animation */
.page-open {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: auto !important;

    transform: translateY(0);
    display: block;
    background-color: var(--bg-wh);
    z-index: var(--z-page-overlay);

    width: 100vw;
    height: 100vh;
    overflow-y: scroll !important;

    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
}

/* Side Items Page-Open Animation */
.sideItemPage-open {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: auto !important;

    transform: translateY(0);
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
    display: block;
    background-color: var(--bg-wh);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}