main {
    /* Page Transition */
    #page-about,
    #page-projects,
    #page-casestudy {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: scale(1) translateY(0);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .hero-section,
    .about-section,
    #page-projects,
    #page-casestudy {
        width: 100vw;
        min-height: 100vh; // full viewport height
        position: relative; // keep in flow
        overflow: visible; // allow scroll inside children if needed
        opacity: 1;
        visibility: visible;
        transform: scale(1) translateY(0);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .about-section {
        background-color: var(--bg-wh);

        .about-box {
            display: flex;
            flex-direction: column;
            row-gap: 3em;
            width: 100%;

            .line {
                height: 1px;
                width: 100%;
                background-color: var(--bg-wh);
            }

            .about-me-name,
            .about-me-02,
            .about-me-section,
            .backgrounds-section,
            .skill-award-section {
                width: 100%;
            }
        }
    }

    .work-gallery-each-box .casestudy-each-list {
        transition: transform 0.4s ease, opacity 0.4s ease;
    }
}