
@media screen and (min-width: 390px) {
    table {
        width: 100%;
        align-items: center;

        display: flex;
        flex-direction: column;
        justify-content: center;

        thead {
            border: none;
            clip: rect(0 0 0 0);
            overflow: hidden;
            padding: 0;
            position: absolute;
        }

        tbody {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: space-between;
            gap: .5em;
            width: 100%;

            tr {
                padding: 1em;
                border-radius: 1em;
                border: 1px solid #11111115;
                display: flex;
                flex-direction: column;
                row-gap: .8em;
            }

            td {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 2em;
                text-align: right;
                font-size: 14px;
                line-height: 18px;
                border-bottom: 1px solid #11111115;
                padding-bottom: .8em;
            }
        }

        .tb-brassfork {
            border: 1px solid var(--accent-blue);
            
            td {
                color: var(--accent-blue);
            }
        }
    }

    table td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
    */

    content: attr(data-label);
        float: left;
        text-align: start;
        opacity: .4;
        color: #111111;
    }

    table td:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }
}