:root {
    /*
        Colours
            ├── Accent
            │   ├── Blue: #007AFF
            │   ├── Red: E13912
            │   └── LightGreen: B7FF00
            │
            ├── Text
            │   ├── Primary Black: #020814
            │   └── Primary White: #F7F8FA
            │
            ├── Background
            │   ├── White: #F7F8FA
            │   ├── LightGrey 01: #F9F9F9
            │   └── LightGrey 02: #EFEFEF
            │
            ├── Line
            │   ├── White: #FAFAFA60
            │   ├── LightGrey: #D1D1D1
            │   └── Dark (Black): #02081410
            │
            └── Glow
                └── Glow White: #F7F8FA70
    */




    // Colours
    // Accent Colours
    --color-accent-blue: #007AFF;
    --color-accent-blue-bg: #007AFF10;

    --color-accent-red: #e53e3e;
    --color-accent-red-bg: #E1391210;

    --color-accent-lightgreen: #e1ff00;

    // Background Colours
    --bg-wh: #F7F8FA;
    --bg-wh-bg: #F7F8FA20;
    --bg-wh-dark: #F7F8FA40;

    --bg-lightgrey01: #f0f2f5;
    --bg-lightgrey02: #eceff3;

    --bg-search-modal: #EFEFEF50;

    --bg-bk: #020814;
    --bg-bk-light: #02081480;

    --color-contact-box: #02081445;
    
    // Line Colours
    --line-white: #FAFAFA60;
    --line-black: #02081410;

    // Glow Colours
    --color-glow-white: #F7F8FA70;




    // Text
    // Text Colours
    --color-text-primary-bk: #020814;
    --color-text-primary-bk-light: #02081410;
    --color-text-primary-bk-border-dark: #02081420;
    --color-text-primary-bk-dark: #02081470;

    --color-text-primary-wh: #F7F8FA;
    --color-text-primary-wh-light: #F7F8FA60;
    --color-text-primary-wh-dark: #F7F8FA80;

    --color-text-search-modal: #767676;

    // Text Size
    --font-size-xxsm: 10px;
    --font-size-xsm: 12px;
    --font-size-sm: 13px;

    --font-size-primary-sm: 14px;
    --font-size-primary: 16px;

    --font-size-sd: 18px;
    --font-size-sd-md: 24px;
    --font-size-sd-lg: 34px;

    --font-size-display-title-ex-lg: 110px;
    --font-size-display-title-ex: 90px;
    --font-size-display-title-lg: 68px;
    --font-size-display-title-md: 60px;
    --font-size-display-title-sm: 50px;
    --font-size-display-body: 40px;




    // Z-index
    --z-negative: -1;
    --z-none: 0;
    --z-base: 1;
    --z-content: 10;
    --z-hover: 100;
    --z-page-open: 1000;
    --z-page-overlay: 1500;
    --z-searchOverlay: 1900;
    --z-nav: 2000;
    --z-nav-menu: 2500;
    --z-top-above-all: 9999;
    --z-cursor-overlay: 10000;
}