::selection {
    background: var(--color-primary-bk);
    color: var(--color-primary-wh);
}

footer ::selection {
    background: var(--color-primary-wh);
    color: var(--color-primary-bk);
}

:root {
    /*
        Colours
            ├── Accent
            │   ├── Blue: #007AFF
            │   ├── Red: E13912
            │   └── LightGreen: B7FF00
            │
            ├── Text
            │   ├── Primary Black: #101010
            │   └── Primary White: #F9F8F7
            │
            ├── Background
            │   ├── White: #F9F8F7
            │   ├── LightGrey 01: #F9F9F9
            │   └── LightGrey 02: #EFEFEF
            │
            ├── Line
            │   ├── White: #FAFAFA60
            │   ├── LightGrey: #D1D1D1
            │   └── Dark (Black): #10101010
            │
            └── Glow
                └── Glow White: #F9F8F770
    */



    // Accent
    --color-accent-red: #e53e3e;
    --color-accent-lightgreen: #bcd311;


    // Brand Colours
    --color-primary-wh: #F9F8F7;
    --color-primary-bk: #101010;
    --color-secondary: #7C7C7C;
    --color-tertiary: #828282;
    --color-quaternary: #EFEEED;
    
    --color-darkmode-bg: #0C0C0C;

    // Line
    --color-line-black: #10101020;
    --color-line-white: #F9F8F720;


    // Cursor Background
    --color-cursor: #10101050;
    --color-cursor-ft: #F9F8F750;


    // Button colours
    --color-btn-wh-blur: #F9F8F770;
    --color-btn-bk-blur: #10101070;


    // Search Colours
    --search-bar-bg: #10101080;
    --search-modal-bg: #E0E0E050;
    --search-preview-hint: #F9F8F770;
    --search-text-icon: #7C7C7C;
    --search-placeholder: #7C7C7C60;
    --search-placeholder-bg: #7C7C7C80;


    // Text Size
    --font-size-xsm: 12px;
    --font-size-sm: 13px;

    --font-size-primary-sm: 14px;
    --font-size-primary: 15px;

    --font-size-sd: 18px;
    --font-size-sd-md: 24px;
    --font-size-sd-lg: 34px;

    --font-size-display-title-ex-lg: 110px;
    --font-size-display-title-ex: 90px;

    --font-size-display-title-lg: 68px;
    --font-size-display-title-md: 60px;
    --font-size-display-title-sm: 50px;

    --font-size-display-body: 42px;


    // Z-index
    --z-negative: -1;
    --z-none: 0;
    --z-base: 1;
    --z-content: 10;
    --z-hover: 100;
    --z-page-open: 1000;
    --z-page-overlay: 1500;
    --z-searchOverlay: 1900;
    --z-nav: 2000;
    --z-nav-menu: 2500;
    --z-top-above-all: 9999;
    --z-cursor-overlay: 10000;



    // Drop Shadow
    --button-dropshadow: drop-shadow(0 8px 6px #10101020);

    // Effects
    --ease-smooth: cubic-bezier(0.22, 1, 0.36, 1);
    --motion-fast: 0.35s;
    --motion-medium: 0.6s;
    --motion-slow: 1s;
}